.computer {
    height: 100%;
    width: 100%;
    background-image: url('../images/computer.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 4;
}

.comp-wrapper {
    position: relative;
    border-radius: 10px;
    min-height: 970px;
    min-width: 950px;
    max-height: 970px;
    max-width: 950px;
    background-color: transparent;
    z-index: 3;
}