footer {
    background-color: rgba(0, 0, 0, 0.432);
    width: 100vw;
    height: 190px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

.footer-spacer {
    width: 80%;
    height: 100%;
}

.profile-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 4;
    height: 100%;
    width: 20%;

    > a > i {
        font-size: 2rem;
        color: slategray;
    }
}
.profile-links > a > i:hover {
        text-shadow: 
        0 0 60px rgb(41, 179, 179),
        0 0 50px rgb(41, 179, 179),
        0 0 20px rgb(41, 179, 179);
}

