@import 'splash';
@import 'reset';
@import 'computer';
@import 'video';
@import 'footer';
@import 'switch';


@font-face {
    font-family: 'abduction2002';
    src: url('../../fonts/abduction2002.ttf') format('truetype');
}

@font-face {
    font-family: 'GlassTTY';
    src: url('../../fonts/Glass_TTY_VT220.ttf') format('truetype');
}

