body {
    background-color: rgb(24, 23, 23);
}

.upper {
    // background-image: url('../images/brick_background.jpeg');
    background-repeat: round;
    width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300px;
    // background-color: rgb(15,0,57);
    // background-image: url('../images/brick_background.jpeg');
    background-size: cover;
    background-repeat: round;
}

.site-header {
    font-family: 'abduction2002';
    font-size: 7rem;
    transform: rotate(-10deg);
    color: rgb(230,153,200);
    box-shadow: inset;
    text-shadow: 0 0 10px rgb(220, 0, 134),
        0 0 60px rgb(220, 0, 134),
        0 0 50px rgb(163, 100, 139),
        0 0 20px rgb(163, 100, 139);

    animation: neonsign 1s 3s forwards;
    animation-timing-function: ease-in-out;
}

.site-header > span {
    font-size: 8rem;
    animation: neonsign 4s 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes neonsign {
    0% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0 0 30px rgb(220, 0, 134);
    }
    60% {
        text-shadow: 0 0 30px rgb(220, 0, 134),
            0 0 60px rgb(220, 0, 134);
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 10px rgb(220, 0, 134),
            0 0 60px rgb(220, 0, 134),
            0 0 50px rgb(163, 100, 139),
            0 0 20px rgb(163, 100, 139),
    }
}

