body {
    // background-color: rgb(24, 23, 23);
    background-image: url('../images/brick_background.jpeg');
    background-repeat: round;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300px;
    // background-color: rgb(15,0,57);
    // background-image: url('../images/brick_background.jpeg');
    background-size: cover;
    background-repeat: round;
}

.site-header {
    font-family: 'abduction2002';
    font-size: 80px;
    transform: rotate(-20deg);
    color: rgb(230,153,200);
    box-shadow: inset;
    text-shadow: 0 0 10px rgb(220, 0, 134),
        0 0 60px rgb(220, 0, 134),
        0 0 50px rgb(163, 100, 139),
        0 0 20px rgb(163, 100, 139);

    animation: neonsign 1s 3s forwards;
    animation-timing-function: ease-in-out;
}

.site-header > span {
    font-size: 80px;
    animation: neonsign 4s 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes neonsign {
    0% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0 0 30px rgb(220, 0, 134);
    }
    60% {
        text-shadow: 0 0 30px rgb(220, 0, 134),
            0 0 60px rgb(220, 0, 134);
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 10px rgb(220, 0, 134),
            0 0 60px rgb(220, 0, 134),
            0 0 50px rgb(163, 100, 139),
            0 0 20px rgb(163, 100, 139),
    }
}

.vid-wrapper {
    width: 700px;
    height: 560px;
    position: absolute;
    // z-index: 0;
    margin-right: 10px;
    margin-top: 50px;
    // border-radius: 10px;
    // border: solid 5px seagreen;
}

#video {
    // border-radius: 10px;
    // border: solid 5px blueviolet;
    position: absolute; 
}

#canvas {
    position: absolute; 
    top: 0;
    left: 0;
    // border: solid 5px rgb(220, 0, 134);
    border-radius: 10px;
}

.computer {
    // border: solid 5px tomato;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    // height: 784px;
    // width: 1008px;
    background-image: url('../images/computer.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    // display: flex;
    // justify-content: center;
}

.comp-wrapper {
    // border: solid 5px pink;
    padding-top: 20px;
    position: relative;
    border-radius: 10px;
    min-height: 800px;
    min-width: 850px;
    max-height: 800px;
    max-width: 850px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}