body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    background-color: hsla(153,60%,75%,1);
    background-image: radial-gradient(
        rgba(15, 15, 15, 0.75), black 120%
    );
}

body:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}

.main-content {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: round;
}

.upper {
    background-repeat: round;
    height: 99vh;
    position: relative;
    z-index: 1;
    left: 840px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    top: 75px;
    justify-content: center;
    position: relative;
    transform: rotate(-5deg);
    height: 200px;
    background-repeat: round;
    border: 8px solid rgb(41, 179, 179);
    box-shadow: 
        inset
        0 0 10px rgb(41, 179, 179),
        inset
        0 0 60px rgb(41, 179, 179),
        0 0 50px rgb(41, 179, 179),
        0 0 20px rgb(41, 179, 179);
    border-radius: 10px;
}

.site-header {
    font-family: 'abduction2002';
    font-size: 6vw;
    transform: rotate(-15deg);
    color: rgb(230,153,200);
    box-shadow: inset;
    text-shadow: 0 0 10px rgb(220, 0, 134),
        0 0 60px rgb(220, 0, 134),
        0 0 50px rgb(163, 100, 139),
        0 0 20px rgb(163, 100, 139);
    animation: neonsign 1s 3s forwards;
    animation-timing-function: ease-in-out;
    position: relative;
}

.site-header > span {
    font-size: 6.5vw;
    animation: neonsign 4s 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes neonsign {
    0% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0 0 30px rgb(220, 0, 134);
    }
    60% {
        text-shadow: 0 0 30px rgb(220, 0, 134),
            0 0 60px rgb(220, 0, 134);
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 10px rgb(220, 0, 134),
            0 0 60px rgb(220, 0, 134),
            0 0 50px rgb(163, 100, 139),
            0 0 20px rgb(163, 100, 139),
    }
}

.right-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 99vh;
    position: absolute;
    z-index: 1;
}

.directions {
    width: 75%;
    height: 45%;
    line-height: 35px;
    position: relative;
    top: 150px;
    font-family: 'GlassTTY';
    font-size: 20px;
    color: #f0fff8;
    text-shadow: 
        0 0 3px #80ffc0, 
        0 0 10px #00ff66, 
        0 0 20px #00ff66, 
        0 0 30px #00ff66;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    text-indent: 20px;
}

.prompt {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.cursor {
    margin-left: 10px;
    margin-bottom: 2px;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
        text-shadow: none;
    }
    50% {
        color: #f0fff8;
        text-shadow: 
        0 0 3px #80ffc0, 
        0 0 10px #00ff66, 
        0 0 20px #00ff66, 
        0 0 30px #00ff66;
    }
}

.button-wrapper {
    color: #f0fff8;
    text-shadow: 
        0 0 3px #FFB000, 
        0 0 10px #FFB000, 
        0 0 20px #FFB000, 
        0 0 30px #FFB000;
    text-transform: uppercase;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.rocker-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rocker-box > span {
    font-size: 30px;
}

